<app-navbar></app-navbar>
<div class="container mt-3" id="users_create_controller" ng-controller="users_create_controller" ng-cloak>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a ng-href="/"><md-icon>dashboard</md-icon> Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#">Usuários</a></li>
            <li class="breadcrumb-item active" aria-current="page">Novo usuário</li>
        </ol>
    </nav>

    <md-card md-theme="default" md-theme-watch>
        <md-card-content>

            <div class="row">
                <div class="col">
                    <h5 class="mt-3 mb-0">Cadastrar novo usuário</h5>
                </div>
                <div class="col mr-auto">
                    <md-button ng-href="/" md-no-ink class="md-primary mb-4 float-right"><md-icon md-font-set="md">arrow_back</md-icon> Voltar</md-button>
                </div>
            </div>

            <form name="formCreateUser" ng-submit="submitCreateUser(formCreateUser.$valid)" novalidate>

                <div class="row">
                    <div class="col-6 col-xs-12">
                        <md-input-container class="md-icon-float md-block">
                            <label>Nome</label>
                            <md-icon>person</md-icon>
                            <input ng-model="form_create.name" type="text" minlength="3" name="name" required>
                            <div ng-messages="formCreateUser.name.$error" ng-messages-multiple>
                                <div ng-message="required">
                                    O campo é obrigatório.
                                </div>

                                <div ng-message="min">
                                    O campo precisa ter no mínimo 3 caracteres.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="col-6 col-xs-12">
                        <md-input-container class="md-icon-float md-block">
                            <label>E-mail</label>
                            <md-icon>email</md-icon>
                            <input type="email" name="email" required ng-model="form_create.email">
                            <div ng-messages="formCreateUser.email.$error" ng-messages-multiple>
                                <div ng-message="required">
                                    O campo é obrigatório.
                                </div>

                                <div ng-message="email">
                                    O E-mail precisa ser válido!
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </div>

                <md-radio-group ng-model="form_create.gender" required class="md-primary">
                    <div class="row">
                        <div class="col mb-2"><b>Gender</b></div>
                    </div>
                    <md-radio-button ng-value="'m'" class="md-align-top-left float-left mr-4">Masculino</md-radio-button>
                    <md-radio-button ng-value="'f'" class="md-align-top-left float-left">Feminino</md-radio-button>
                </md-radio-group>

                <div class="mt-3">
                    <md-button ng-disabled="!formCreateUser.$valid" type="submit" class="md-raised md-primary float-right">SALVAR</md-button>
                    <md-button ng-href="/" class="md-raised float-right">CANCELAR</md-button>
                </div>
            </form>

        </md-card-content>
    </md-card>
</div>